body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat
}
h6{
    color: green;
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px;
    border-radius: 120px;
}


.image {
    width: 100%;
    height: 450px;
    border-radius: 150px;
}

.border-line {
    border-right: 1px solid #EEEEEE
}


.google {

.facebook {

    background-color: white;
    color: red;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;

    cursor: pointer;
    transition: all 0.8s;

    cursor: pointer
}
.facebook:hover{
        transform: rotate(360deg);
        transition: all 0.2s
    
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}


.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    color: green;
    width: 10%;
    font-weight: bold;
    color: green;
}

.text-sm {
    font-size: 14px !important
}
.text-sm:hover{
    color: green;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300;
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid green;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {

    color: inherit;
    cursor: pointer;
}

.btn-outline:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}
.btn-outline{
    border-radius: 100px;
    border-color: green;

    color: green;
    cursor: pointer
}

.btn-white {
    background-color: white;
    width: 150px;
    color: black;
    border-radius: 50px;
    border: solid green 2px;
}

.btn-white:hover {
    background-color: green;
    color: white;
    cursor: pointer

}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}